---
layout: default
---

	
		{% for link in site.links limit:1 %}
			<div id="leftLink">
				{% preview {{ link.title1 }} {{ link.url1 }} %}
			</div>
			{% if link.title2 %}
				<div id="rightLink">
					{% preview {{ link.title2 }} {{ link.url2 }} %}
				</div>
			{% endif %}
			<div id="postNav">
				<ul class="fa-ul">
				{% for link in site.links limit:10 offset:1 %}
					<li>
						<span class="fa-li"><i class="fa-solid fa-link"></i></span><a href="{{ link.url }}" title="{{ link.title1 }}">{{ link.title1 }}</a>
					</li>
					{% if link.title2 %}
						<li>
							<span class="fa-li"><i class="fa-solid fa-link"></i></span><a href="{{ link.url }}" title="{{ link.title2 }}">{{ link.title2 }}</a>
						</li>
					{% endif %}
				{% endfor %}
					<li>
						<span class="fa-li"><i class="fa-solid fa-link"></i></span><a href="/tags/" title="All Posts">All Posts</a>
					</li>
				</ul>
			</div>
		{% endfor %}
	</section>
		
	