---
layout: page
permalink: /tags/
title: Tags
---
<div id="archives">
	{% capture category %}
		{% for link in site.links %}
			{% for category in link.categories %}
				|{{ category }}
			{% endfor %}
		{% endfor %}
	{% endcapture %}
	{% assign sortedtags = category | strip_newlines | split: '|' | sort_natural %}
	{% for tag in sortedtags %}
		{% unless forloop.first %}
			{% assign strippedtag = tag | strip %}
			<a name="{{ strippedtag }}" href="#{{ strippedtag }}"><h3 id="{{ strippedtag }}">{{ strippedtag }}</h3></a>
			<ul>
			{% assign theseTags = site.links | where: "categories", strippedtag %}
			{% for link in theseTags %}
				<li><a rel="nofollow" target="_blank" href="{{ link.url1 }}">{{ link.title1 }} ({{ link.date | date: "%-d %B %Y" }})</a></li>
				{% if link.title2 %}
					<li><a rel="nofollow" target="_blank" href="{{ link.url2 }}">{{ link.title2 }} ({{ link.date | date: "%-d %B %Y" }})</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		{% endunless %}
	{% endfor %}

</div>
{% include supported.html %}
</section>