---
layout: page
permalink: /tags/
title: Tags
---
<div id="archives">
	Here are the archives:
{% capture tags %}
	{% for tag in site.categories %}
		|{{ tag[0] }}
	{% endfor %}
{% endcapture %}
{% assign sortedtags = tags | strip_newlines | split: '|' | sort_natural %}

{% for tag in sortedtags %}
	{% unless forloop.first %}
		{% assign strippedtag = tag | strip %}
		<h3 id="{{ strippedtag }}">{{ strippedtag }}</h3>
		<a name="{{ strippedtag }}"></a>
		<ul>
		{% for link in site.categories[strippedtag] %}
			<li><a rel="nofollow" target="_blank" href="{{ link.url1 }}">{{ link.title1 }} ({{ link.date | date: "%-d %B %Y" }})</a></li>
			{% if link.title2 %}
				<li><a rel="nofollow" target="_blank" href="{{ link.url2 }}">{{ link.title2 }} ({{ link.date | date: "%-d %B %Y" }})</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	{% endunless %}
{% endfor %}
</div>
{% include supported.html %}
</section>