<div id="pageNav">
    <ul>
        {% if page.url != "/" %}
            <li>
                <a title="Home" href="/index.html">Home</a>
            </li>
        {% endif %}
        <li>
            Report a UFO Sighting
        </li>
        <li>
            Report a Ghost Sighting
        </li>
        <li>
            Report a Cryptid Sighting
        </li>
        <li>
            What is an Anomaly?
        </li>
        <li>
            What to do if you experience one?
        </li>
        <li>
            Ethics Code
        </li>
        <li>
            Case Files
        </li>
        <li>
            <a href="/Stringfield-Numbers">Stringfield Numbers</a>
        </li>
        <li>
            <a href="https://kenny.anomalyresponse.com">Kenny Young Archives</a>
        </li>
        <li>
            <a href="/Recommended-Books">Book Recommendations</a>
        </li>
        <li>
            <a href="/Recommended-Videos">Video Recommendations</a>
        </li>
        <li>
            Conference Recommendations
        </li>
        <li>
            Tri-State Paranormal Organization History
        </li>
    </ul>
</div>