<div id="support">
	<div>
		<strong>Supported Projects:</strong>
		<ul class="fa-ul">
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://www.hessdalen.org">Project Hessdalen</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://www.sky360.org">Sky360</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://ufodap.com">UFODAP</a> / <a target="_blank" href="https://www.ufodata.net">UFODATA</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://github.com/UFOID/UFO-Detector">UFO Detector</a> / <a target="_blank" title="BoB Universal Object Tracker" href="https://github.com/bobcamera/bobinstall">BoB</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://projects.iq.harvard.edu/galileo/home">The Galileo Project</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" title="SkyWatch Passive Radar UFO Detector" href="https://ascendantai.com/skywatch">Skywatch Passive Radar</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://github.com/jamsoft/uap-data-vis-tool">*U* Database</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://www.cnes-geipan.fr/en/stats">GEIPAN Database</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://nuforc.org/map/">NUFORC Map</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-brands fa-freebsd"></i></span><a target="_blank" href="https://web.randi.org/encyclopedia-of-claims.html">Randi Encyclopedia</a>
			</li>
		</ul>
		<strong>Supported Orgs:</strong>
		<ul class="fa-ul">
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://www.phantomsandmonsters.com">Phantoms & Monsters</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" title="National UFO Historical Records Center" href="https://nufohrc.org">NUFOHRC</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" title="Archives for the Unexplained" href="https://www.afu.se">AFU</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://www.uapexpedition.org">UAPx</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" title="Center for UFO Studies" href="https://cufos.org">CUFOS</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" title="National Investigations Committee on Aerial Phenomena" href="https://www.nicap.org">NICAP</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" title="National Aviation Reporting Center on Anomalous Phenomena" href="https://www.narcap.org">NARCAP</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" title="Cleveland Ufology Project" href="https://clevelandufo.com">CUP</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" title="Missouri Investigators Groups" href="https://ufomig.yolasite.com">MIG</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-tree"></i></span><a target="_blank" title="Bigfoot Field Researchers Organization" href="https://www.bfro.net">BFRO</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-tree"></i></span><a target="_blank" title="North American Dogman Project" href="https://northamericandogmanproject.com">NADP</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-ghost"></i></span><a target="_blank" title="Society for Scientific Exploration" href="https://www.scientificexploration.org">SSE</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-ghost"></i></span><a target="_blank" href="https://orgcentral.psu.edu/organization/paranormal-research-society-at-penn-state">Penn State PRS</a>
			</li>
			<li>
				<span class="fa-li"><i class="fa-solid fa-ghost"></i></span><a target="_blank" href="https://skeletonkeysociety.org">Skeleton Key Society</a>
			</li>
		</ul>
	</div>
	<a title="Say No To Paranormal Poetic License" href="/CreativeLicense"><center><img src="/assets/img/SayNoToParanormalPoeticLicense.gif" alt="Say No To Paranormal Poetic License" /></center></a>
</div>