---
# this is an empty front matter, and is required for this page.
---

body {
	background-color: #F0F0F0;
	font-family: "Trebuchet MS", sans-serif;
	color: #4A4A4A;
}
section {
	background-color: #fff;
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 45px 25px;
	border: 10px solid #b2b2b2;
	text-align: center;
}
h1 {
	font-size: 1em;
}
