---
layout: default
---


    <div id="leftLink">
        {% preview {{ page.title1 }} {{ page.url1 }} %}
    </div>
    {% if page.title2 %}
        <div id="rightLink">
            {% preview {{ page.title2 }} {{ page.url2 }} %}
        </div>
    {% endif %}
    <div id="postNav">
        <ul class="fa-ul">
        {% assign sorted_items = site.links | sort: 'date' | reverse %}
        {% for link in sorted_items limit:10 %}
            <li>
                <span class="fa-li"><i class="fa-solid fa-link"></i></span><a href="{{ link.url }}">{{ link.title1 }}</a>
            </li>
            {% if link.title2 %}
                <li>
                    <span class="fa-li"><i class="fa-solid fa-link"></i></span><a href="{{ link.url }}">{{ link.title2 }}</a>
                </li>
            {% endif %}
        {% endfor %}
            <li>
				<span class="fa-li"><i class="fa-solid fa-link"></i></span><a href="/tags/">All Posts</a>
			</li>
        </ul>
    </div>
</section>
    