---
layout: default
---


    <div id="leftLink">
        {% preview {{ page.title1 }} {{ page.url1 }} %}
    </div>
    {% if page.title2 %}
        <div id="rightLink">
            {% preview {{ page.title2 }} {{ page.url2 }} %}
        </div>
    {% endif %}
    <div id="postNav">
        <ul class="fa-ul">
        {% for link in site.links limit:10 %}
            <li>
                <span class="fa-li"><i class="fa-solid fa-link"></i></span><a href="{{ link.url }}" title="{{ link.title1 }}">{{ link.title1 }}</a>
            </li>
            {% if link.title2 %}
                <li>
                    <span class="fa-li"><i class="fa-solid fa-link"></i></span><a href="{{ link.url }}" title="{{ link.title2 }}">{{ link.title2 }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</section>
    